body {
	font-family: 'helvetica', sans-serif;
}

section {
	width: 100%;
	max-width: 768px;
	margin: 30px auto;
	display: block;
}

.player-display {
	text-align: center;
	font-size: 36px;
}

.player-display > div:before {
	vertical-align: top;
	margin-right: 5px;
	display: inline-block;
	width: 36px;
	height: 36px;
	background-size: contain;
}

.player-display .p1:before {
	content:'';
	background-image: url('./x.png');
}

.player-display .p2:before {
	content:'';
	background-image: url('./o.png');
}

table.board {
	margin: 25px auto 0;
	border-collapse: collapse;
}

table.board td {
	height: 150px;
	width: 150px;
	border: 1px solid black;
	background-size: contain;
}

table.board td.player1{
	background-image: url('./x.png');
}

table.board td.player2 {
	background-image: url('./o.png');
}